.error-page {
    @media only screen and (min-width: 0) {
        padding: 12px;
        margin: 0 10px;
        font-size: 21px;
        font-family: "Averta Std", sans-serif;
        color: #343434;
        text-align: center;
    }
    
    a {
        font-size: 21px;
        font-family: "Averta Std", sans-serif;
        font-style: italic;
        color: #FF2259;
        text-decoration: none;
        text-align: center;
    }

    a:hover {
        text-decoration: underline;
    }
}