.log-in {
    @media only screen and (min-width: 0) {
        height: 100%;

        h1 {
            display: flex;
            justify-content: center;
            margin: 50px;
            font-size: 27px;
            font-family: "Averta Std", sans-serif;
            font-style: normal;
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            label {
                display: flex;
                justify-content: center;
                font-size: 21px;
            }
            input {
                display: flex;
                justify-content: center;
                width: 300px;
                height: 30px;
                margin: 10px;
                border-radius: 5px;
                font-size: 20px;
                font-style: italic;
                font-family: "Averta Std", sans-serif;
                background-color: #343434;
                color: #F8F8F8;
            }
            button {
                margin: 0 auto;
                width: 100px;
                height: 35px;                
                font-size: 22px;
                font-family: "Averta Std", sans-serif;
                border-radius: 10px;
                border: none;
                background-color: #FF2259;
                color: white;
                text-decoration: none;
            }
            button:hover {
                cursor: pointer;
            }
        }
    }

    @media only screen and (min-width: 768px) {
        h1 {
            display: flex;
            justify-content: center;
            margin: 70px;
            font-size: 30px;
            font-family: "Averta Std", sans-serif;
            font-style: normal;
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            label {
                display: flex;
                justify-content: center;
                font-size: 21px;
            }
            input {
                display: flex;
                justify-content: center;
                margin: 10px;
                width: 300px;
                height: 30px;
                border-radius: 5px;
                font-size: 20px;
                font-style: italic;
                font-family: "Averta Std", sans-serif;
                background-color: #343434;
                color: #F8F8F8;
            }
            button {
                margin: 0 auto;
                width: 100px;
                height: 35px;                
                font-size: 22px;
                font-family: "Averta Std", sans-serif;
                border-radius: 10px;
                border: none;
                background-color: #FF2259;
                color: white;
                text-decoration: none;
            }
            button:hover {
                background-color: #FF2259;
                color: white;
            }
        }
    }
}