.nav-bar {
    @media only screen and (min-width: 0) {
        width: 100%;
        padding: 16px;
        text-align: left;
        background-color: #C2C2C2;
        a {
            margin: 0 auto;
            padding: 0 40px;
            font-size: 18px;
            font-family: "Averta Std", sans-serif;
            border-right: 1px solid #363535;
            color: #343434;
            text-decoration: none;
        }
        a:hover {
            color: #FF2259; 
        }
    }
}