@import '../../styles/vars.scss';

.rating-dots {
    @media only screen and (min-width: 0) {
        width: 96px;
        display: flex;
        justify-content: space-between;
        span {
            width: 6px;
            height: 6px;
            display: inline-block;
            border-radius: 50%;
            background-color: $medium-grey;
            &.rated {
                background-color: $dark-grey;
            }
        }
    }
    @media only screen and (min-width: 200px) {
        width: 70px;
    }
    @media only screen and (min-width: 360px) {
        width: 75px;
    }
    @media only screen and (min-width: 400px) {
       width: 80px;
    }
    @media only screen and (min-width: 768px) {
        width: 96px;
    }
    @media only screen and (min-width: 1024px) {
        width: 100px;
        margin-right: 70px;
    }
}