.background-portfolio {
    @media only screen and (min-width: 0) {
        background-image: url("https://i.pinimg.com/originals/42/0c/9f/420c9f9d2c4dc63d4e861fb0d7b66e4f.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}