.background-homepage {
    @media only screen and (min-width: 0) {
        background-image: url("https://i.pinimg.com/originals/9b/9e/77/9b9e77f8e8562c50e15e2005e7e5bcb3.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}