.background-register {
    @media only screen and (min-width: 0) {
        background-image: url("https://images.pexels.com/photos/4940716/pexels-photo-4940716.jpeg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}