.background-register {
    @media only screen and (min-width: 0) {
        background-image: url("https://cdn.shopify.com/s/files/1/1695/7515/files/marquetry_cabinet_4509254a-2ec2-4364-b584-98a132d9dfa8_2000x.progressive.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}