.background-login {
    @media only screen and (min-width: 0) {
        background-image: url("https://imgix.bustle.com/uploads/shutterstock/2020/3/25/72415f8c-3e06-40fc-b5a6-32fd76c7b567-shutterstock-1270572721.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
