.background-login {
    @media only screen and (min-width: 0) {
        background-image: url("https://50floor.com/content/uploads/2021/04/hardwood-floor-yellow-couch-1024x703.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
