.contact-page {
    @media only screen and (min-width: 0) {
        padding: 12px 24px;
        margin: 0 15px;
        font-size: 18px;
        font-family: "Averta Std", sans-serif;
        color: #343434;
    }
    h1 {
        padding-left: 80px;
        font-size: 36px;
        font-family: "Averta Std", sans-serif;
        font-style: normal;
    }
    p {
        padding-left: 100px;
        margin: 10px;
        padding-top: 10px;
        font-size: 24px;
        font-family: "Averta Std", sans-serif;
    }
    ul {
        padding-top: 20px;
        padding-bottom: 340px;
        padding-left: 150px;
    }
    ul, li {
        list-style-type: none;
    }
    a {
        font-size: 27px;
        color: #FF2259;
        text-decoration: none;
        font-style: italic;
    }
}