.home-page {
    @media only screen and (min-width: 0) {
        padding: 12px 24px;
        margin: 0 10px;
        font-size: 21px;
        font-family: "Averta Std", sans-serif;
        color: #343434;
    }
    h1 {
        font-size: 37px;
        font-family: "Averta Std", sans-serif;
        font-style: normal;
    }
    h3 {
        margin-left: 5px;
        font-size: 24px;
        font-family: "Averta Std", sans-serif;
        font-style: italic;
    }
    p {
        padding-top: 10px;
        padding-left: 20px;
        font-size: 21px;
        font-family: "Averta Std", sans-serif;
        font-style: normal;
    }
    ul, li {
        padding-bottom: 10px;
        list-style-type: none;
        margin-left: 25px;
        padding: 6px;
    }
    li {
        font-family: "Averta Std", sans-serif;
        font-style: italic;
    }
    a {
        color: #FF2259;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}