.port-folio {
    @media only screen and (min-width: 0) {
      padding: 10px;
      padding-bottom: 80px;
      margin: 0 10px;
      font-size: 18px;
      font-family: "Averta Std", sans-serif;
      color: #343434;
      h1 {
        padding-left: 50px;
        font-size: 32px;
        font-family: "Averta Std," sans-serif;
      }
      img {
        width: 350px;
        height: 250px;
      }
      .container {
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
        justify-content: space-evenly;
      };
      .item {
        margin: 10px;
      }
    }
  }